* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.fullpage__wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1, h2 {
  color: white;
  font-size: 10rem;
  text-align: center;
  width: 50%;
}

h2 {
  font-size: 5rem;
  width: 100%;
  margin-bottom: 50px;
}

button {
  padding: 10px 60px;
}
